In [92]:
! pip install xlrd --upgrade

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (2.0.1)

In [93]:
! pip install pandas==1.2.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas==1.2.0 in /usr/local/lib/python3.7/dist-packages (1.2.0)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.7/dist-packages (from pandas==1.2.0) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.2.0) (2022.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.2.0) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas==1.2.0) (1.15.0)

In [300]:
import pandas as pd
import warnings 
warnings.filterwarnings('ignore')

In [301]:
data=pd.read_excel('附件14不同放牧强度土壤碳氮监测数据.xlsx')
data.head()

,year,放牧小区（plot）,放牧强度（intensity）,SOC土壤有机碳,SIC土壤无机碳,STC土壤全碳,全氮N,土壤C/N比
0,2012,G17,NG,17.051564,11.300000,28.351564,2.192376,12.931887
1,2012,G19,NG,19.529439,11.333333,30.862772,1.883051,16.389768
2,2012,G21,NG,14.549908,9.600000,24.149908,1.871001,13.818022
3,2012,G6,LGI,18.672931,12.666667,31.339598,2.407612,12.160230
4,2012,G12,LGI,13.904905,8.133333,22.038239,1.933916,11.395652

In [302]:
data.shape

(132, 8)

In [303]:
import chardet
# 输出文件原格式
def  GetEncodingSheme(_filename):
    with open(_filename, 'rb') as file:
        buf = file.read()
    result = chardet.detect(buf)
    return result['encoding']

# 原格式转换为utf-8
def ChangeEncoding(_infilename, _outfilname, _encodingsheme='utf-8'):
  ifEncodeSheme = GetEncodingSheme(_infilename)
  with open(_infilename, 'r', encoding=ifEncodeSheme) as fr:
    tempContent = fr.read()
  with open(_outfilname, 'w', encoding=_encodingsheme) as fw:
    fw.write(tempContent)

filename = '附件15群落结构监测数据集.csv'
print('原格式为：', GetEncodingSheme(filename)) #输出原格式
ChangeEncoding('附件15群落结构监测数据集.csv', '附件15群落结构监测数据集_new.csv', 'utf-8') #格式转化为utf-8
print('文件已转换为utf-8编码')

原格式为： GB2312
文件已转换为utf-8编码

In [304]:
f=open('附件15群落结构监测数据集_new.csv')
temp1=pd.read_csv(f,encoding='utf-8')
temp1.head()

,年份,轮次,处理,日期,植物种名,植物群落功能群,放牧小区Block,重复,营养苗,生殖苗,株/丛数,丛幅1,丛幅2,鲜重(g),干重(g)
0,2019,牧前,轻牧（3天）,2019.5.10,大针茅,PB,G6,1,24.0,NaN,15.0,11.0,11.0,59.43,25.41
1,2019,牧前,轻牧（3天）,2019.5.10,羊草,PR,G6,1,12.0,NaN,17.0,NaN,NaN,1.70,0.64
2,2019,牧前,轻牧（3天）,2019.5.10,苔草,PR,G6,1,11.0,NaN,13.0,NaN,NaN,1.27,0.99
3,2019,牧前,轻牧（3天）,2019.5.10,糙隐子草,PB,G6,1,4.0,NaN,16.0,4.0,4.0,2.60,1.25
4,2019,牧前,轻牧（3天）,2019.5.10,知母,PF,G6,1,4.0,NaN,9.0,NaN,NaN,0.62,0.30

In [305]:
# 附件15 放牧小区Block-年份的组合
temp1.apply(lambda x:x['放牧小区Block']+'-'+str(x['年份']),axis=1).unique()

array(['G6-2019', 'G8-2019', 'G9-2019', 'G11-2019', 'G12-2019',
       'G13-2019', 'G16-2019', 'G17-2019', 'G18-2019', 'G19-2019',
       'G20-2019', 'G21-2019', 'G6-2020', 'G8-2020', 'G9-2020',
       'G11-2020', 'G12-2020', 'G13-2020', 'G16-2020', 'G17-2020',
       'G18-2020', 'G19-2020', 'G20-2020', 'G21-2020', 'G6-2018',
       'G12-2018', 'G18-2018', 'G8-2018', 'G11-2018', 'G16-2018',
       'G9-2018', 'G13-2018', 'G20-2018', 'G17-2018', 'G19-2018',
       'G21-2018', 'G6-2017', 'G12-2017', 'G18-2017', 'G8-2017',
       'G11-2017', 'G16-2017', 'G9-2017', 'G13-2017', 'G20-2017',
       'G17-2017', 'G19-2017', 'G21-2017', 'G6-2016', 'G12-2016',
       'G18-2016', 'G8-2016', 'G11-2016', 'G16-2016', 'G9-2016',
       'G13-2016', 'G17-2016', 'G19-2016', 'G21-2016', 'G20-2016'],
      dtype=object)

In [306]:
# 附件14 放牧小区（plot）-year的组合
data.apply(lambda x:x['放牧小区（plot）']+'-'+str(x['year']),axis=1).unique()

array(['G17-2012', 'G19-2012', 'G21-2012', 'G6-2012', 'G12-2012',
       'G18-2012', 'G8-2012', 'G11-2012', 'G16-2012', 'G9-2012',
       'G13-2012', 'G20-2012', 'G17-2014', 'G19-2014', 'G21-2014',
       'G6-2014', 'G12-2014', 'G18-2014', 'G8-2014', 'G11-2014',
       'G16-2014', 'G9-2014', 'G13-2014', 'G20-2014', 'G17-2016',
       'G19-2016', 'G21-2016', 'G6-2016', 'G12-2016', 'G18-2016',
       'G8-2016', 'G11-2016', 'G16-2016', 'G9-2016', 'G13-2016',
       'G20-2016', 'G17-2018', 'G19-2018', 'G21-2018', 'G6-2018',
       'G12-2018', 'G18-2018', 'G8-2018', 'G11-2018', 'G16-2018',
       'G9-2018', 'G13-2018', 'G20-2018', 'G17-2020', 'G19-2020',
       'G21-2020', 'G6-2020', 'G12-2020', 'G18-2020', 'G8-2020',
       'G11-2020', 'G16-2020', 'G9-2020', 'G13-2020', 'G20-2020'],
      dtype=object)

In [307]:
temp1['inner']=temp1.apply(lambda x:x['放牧小区Block']+'-'+str(x['年份']),axis=1)#temp1生成新列inner 格式为：放牧小区Block-年份 如G6-2019
data['inner']=data.apply(lambda x:x['放牧小区（plot）']+'-'+str(x['year']),axis=1)#data生成新列inner 格式为：放牧小区（plot）-year 如G17-2012
print(temp1)
print(data)

         年份     轮次      处理         日期  植物种名 植物群落功能群 放牧小区Block 重复   营养苗   生殖苗  \
0      2019     牧前  轻牧（3天）  2019.5.10   大针茅      PB        G6  1  24.0   NaN
1      2019     牧前  轻牧（3天）  2019.5.10    羊草      PR        G6  1  12.0   NaN
2      2019     牧前  轻牧（3天）  2019.5.10    苔草      PR        G6  1  11.0   NaN
3      2019     牧前  轻牧（3天）  2019.5.10  糙隐子草      PB        G6  1   4.0   NaN
4      2019     牧前  轻牧（3天）  2019.5.10    知母      PF        G6  1   4.0   NaN
...     ...    ...     ...        ...   ...     ...       ... ..   ...   ...
10876  2016  第四轮牧后  无牧（0天）  2016.9.21  米氏冰草      PR       G21  4  30.0   NaN
10877  2016  第四轮牧后  无牧（0天）  2016.9.21    羊草      PR       G21  5  57.0   NaN
10878  2016  第四轮牧后  无牧（0天）  2016.9.21   大针茅      PB       G21  5  50.0  70.0
10879  2016  第四轮牧后  无牧（0天）  2016.9.21    知母      PF       G21  5  34.0   NaN
10880  2016  第四轮牧后  无牧（0天）  2016.9.21  米氏冰草      PR       G21  5  44.0   NaN

        株/丛数   丛幅1   丛幅2   鲜重(g)  干重(g)     inner
0       15.0  11.0  11.0   59.43  25.41   G6-2019
1       17.0   NaN   NaN    1.70   0.64   G6-2019
2       13.0   NaN   NaN    1.27   0.99   G6-2019
3       16.0   4.0   4.0    2.60   1.25   G6-2019
4        9.0   NaN   NaN    0.62   0.30   G6-2019
...      ...   ...   ...     ...    ...       ...
10876   64.0   NaN   NaN  100.97  62.43  G21-2016
10877  150.0   NaN   NaN  155.52  90.01  G21-2016
10878    8.0   4.0   4.0   45.55  29.93  G21-2016
10879   25.0   NaN   NaN   47.21  18.87  G21-2016
10880   10.0   2.0   2.0    5.71   3.38  G21-2016

[10881 rows x 16 columns]
     year 放牧小区（plot） 放牧强度（intensity）   SOC土壤有机碳   SIC土壤无机碳    STC土壤全碳  \
0    2012        G17              NG  17.051564  11.300000  28.351564
1    2012        G19              NG  19.529439  11.333333  30.862772
2    2012        G21              NG  14.549908   9.600000  24.149908
3    2012         G6             LGI  18.672931  12.666667  31.339598
4    2012        G12             LGI  13.904905   8.133333  22.038239
..    ...        ...             ...        ...        ...        ...
127  2020        G11             MGI  14.744350   3.353600  18.097950
128  2020        G16             MGI  14.777000   9.819450  24.596450
129  2020         G9             HGI  17.200000   3.122150  20.322150
130  2020        G13             HGI  16.691900   3.564700  20.256600
131  2020        G20             HGI  15.969600   4.657050  20.626650

          全氮N     土壤C/N比     inner
0    2.192376  12.931887  G17-2012
1    1.883051  16.389768  G19-2012
2    1.871001  13.818022  G21-2012
3    2.407612  12.160230   G6-2012
4    1.933916  11.395652  G12-2012
..        ...        ...       ...
127  1.961450   9.226822  G11-2020
128  1.712250  14.364988  G16-2020
129  2.236950   9.084758   G9-2020
130  2.102850   9.632927  G13-2020
131  2.054600  10.039253  G20-2020

[132 rows x 9 columns]

In [308]:
data2=pd.merge(data,temp1,on='inner') #以inner列为索引 合并

In [309]:
data2

,year,放牧小区（plot）,放牧强度（intensity）,SOC土壤有机碳,SIC土壤无机碳,STC土壤全碳,全氮N,土壤C/N比,inner,年份,...,植物群落功能群,放牧小区Block,重复,营养苗,生殖苗,株/丛数,丛幅1,丛幅2,鲜重(g),干重(g)
0,2016,G17,NG,18.682066,2.40000,21.082066,2.332079,9.040030,G17-2016,2016,...,PB,G17,1,40.0,NaN,10.0,5.0,5.0,54.90,27.00
1,2016,G17,NG,18.682066,2.40000,21.082066,2.332079,9.040030,G17-2016,2016,...,PR,G17,1,25.0,NaN,74.0,NaN,NaN,33.26,16.00
2,2016,G17,NG,18.682066,2.40000,21.082066,2.332079,9.040030,G17-2016,2016,...,PF,G17,1,16.0,NaN,22.0,NaN,NaN,17.18,4.00
3,2016,G17,NG,18.682066,2.40000,21.082066,2.332079,9.040030,G17-2016,2016,...,PB,G17,1,7.0,NaN,9.0,3.0,3.0,4.70,2.00
4,2016,G17,NG,18.682066,2.40000,21.082066,2.332079,9.040030,G17-2016,2016,...,PF,G17,1,30.0,NaN,1.0,NaN,NaN,3.26,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14292,2020,G20,HGI,15.969600,4.65705,20.626650,2.054600,10.039253,G20-2020,2020,...,PB,G20,笼2,12.0,NaN,51.0,7.0,7.0,14.79,8.12
14293,2020,G20,HGI,15.969600,4.65705,20.626650,2.054600,10.039253,G20-2020,2020,...,PR,G20,笼2,24.0,NaN,121.0,NaN,NaN,37.58,19.07
14294,2020,G20,HGI,15.969600,4.65705,20.626650,2.054600,10.039253,G20-2020,2020,...,PF,G20,笼2,11.0,NaN,8.0,NaN,NaN,4.69,0.85
14295,2020,G20,HGI,15.969600,4.65705,20.626650,2.054600,10.039253,G20-2020,2020,...,AB,G20,笼2,13.0,NaN,2.0,NaN,NaN,0.09,0.05
14296,2020,G20,HGI,15.969600,4.65705,20.626650,2.054600,10.039253,G20-2020,2020,...,AB,G20,笼2,13.0,NaN,66.0,NaN,NaN,13.48,9.56

In [310]:
data2.isnull().sum() #不同列缺失值数量 生殖苗过多 认为是无关项

year                   0
放牧小区（plot）             0
放牧强度（intensity）        0
SOC土壤有机碳               0
SIC土壤无机碳               0
STC土壤全碳                0
全氮N                    0
土壤C/N比                 0
inner                  0
年份                     0
轮次                     0
处理                     0
日期                     0
植物种名                   0
植物群落功能群                0
放牧小区Block              0
重复                     0
营养苗                   24
生殖苗                12581
株/丛数                 357
丛幅1                 9438
丛幅2                10054
鲜重(g)                705
干重(g)                  0
dtype: int64

In [311]:
data2=data2[[ '年份', '放牧小区（plot）', '放牧强度（intensity）', 'SOC土壤有机碳', 'SIC土壤无机碳',
       'STC土壤全碳', '全氮N', '土壤C/N比',  '轮次', '处理',  '植物种名',
       '植物群落功能群',  '重复', '营养苗',  '株/丛数',
       '鲜重(g)', '干重(g)']] #人为去除无关项：生殖苗 丛幅1 丛幅2 year(与年份重复) inner(与year plot重复) 日期 放牧小区block(与plot重复)

In [312]:
data2

,年份,放牧小区（plot）,放牧强度（intensity）,SOC土壤有机碳,SIC土壤无机碳,STC土壤全碳,全氮N,土壤C/N比,轮次,处理,植物种名,植物群落功能群,重复,营养苗,株/丛数,鲜重(g),干重(g)
0,2016,G17,NG,18.682066,2.40000,21.082066,2.332079,9.040030,牧前,无牧（0天）,大针茅,PB,1,40.0,10.0,54.90,27.00
1,2016,G17,NG,18.682066,2.40000,21.082066,2.332079,9.040030,牧前,无牧（0天）,羊草,PR,1,25.0,74.0,33.26,16.00
2,2016,G17,NG,18.682066,2.40000,21.082066,2.332079,9.040030,牧前,无牧（0天）,知母,PF,1,16.0,22.0,17.18,4.00
3,2016,G17,NG,18.682066,2.40000,21.082066,2.332079,9.040030,牧前,无牧（0天）,糙隐子草,PB,1,7.0,9.0,4.70,2.00
4,2016,G17,NG,18.682066,2.40000,21.082066,2.332079,9.040030,牧前,无牧（0天）,黄花葱,PF,1,30.0,1.0,3.26,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14292,2020,G20,HGI,15.969600,4.65705,20.626650,2.054600,10.039253,第四轮牧后,重牧（12天）,糙隐子草,PB,笼2,12.0,51.0,14.79,8.12
14293,2020,G20,HGI,15.969600,4.65705,20.626650,2.054600,10.039253,第四轮牧后,重牧（12天）,羊草,PR,笼2,24.0,121.0,37.58,19.07
14294,2020,G20,HGI,15.969600,4.65705,20.626650,2.054600,10.039253,第四轮牧后,重牧（12天）,矮葱,PF,笼2,11.0,8.0,4.69,0.85
14295,2020,G20,HGI,15.969600,4.65705,20.626650,2.054600,10.039253,第四轮牧后,重牧（12天）,画眉草,AB,笼2,13.0,2.0,0.09,0.05
14296,2020,G20,HGI,15.969600,4.65705,20.626650,2.054600,10.039253,第四轮牧后,重牧（12天）,刺藜,AB,笼2,13.0,66.0,13.48,9.56

In [313]:
data2.shape

(14297, 17)

In [314]:
temp2=pd.read_excel('附件3、土壤湿度2022—2012年.xls')
temp2.head()

,月份,年份,经度(lon),纬度(lat),10cm湿度(kg/m2),40cm湿度(kg/m2),100cm湿度(kg/m2),200cm湿度(kg/m2)
0,1,2022,115.375,44.125,12.45,52.14,93.45,164.48
1,2,2022,115.375,44.125,12.10,52.14,93.45,164.48
2,3,2022,115.375,44.125,14.96,52.13,93.44,164.48
3,1,2021,115.375,44.125,15.17,50.40,82.44,165.92
4,2,2021,115.375,44.125,13.93,50.40,82.44,165.92

In [315]:
temp3=pd.read_excel('附件4、土壤蒸发量2012—2022年.xls')
temp3.head()

   月份    年份  经度(lon)  纬度(lat)  土壤蒸发量(W/m2)  土壤蒸发量(mm)
0   1  2022  115.375   44.125         0.41       0.44
1   2  2022  115.375   44.125         0.28       0.27
2   3  2022  115.375   44.125         5.58       5.98
3   1  2021  115.375   44.125         1.05       1.13
4   2  2021  115.375   44.125         1.58       1.53

In [316]:
temp4=pd.read_excel('附件6、植被指数-NDVI2012-2022年.xls')
temp4.head()

   月份    年份  经度(lon)  纬度(lat)  植被指数(NDVI)
0   1  2022  115.375   44.125       0.010
1   2  2022  115.375   44.125       0.010
2   3  2022  115.375   44.125       0.187
3   4  2022  115.375   44.125       0.191
4   1  2021  115.375   44.125      -0.002

In [317]:
temp5=pd.read_excel('附件9、径流量2012-2022年.xlsx')
temp5.head()

,月份,年份,经度(lon),纬度(lat),径流量(m3/s),径流量(m3),Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,1,2022,115.375,44.125,0.160786,430650.0,NaN,NaN,NaN,NaN
1,2,2022,115.375,44.125,0.116071,280800.0,NaN,NaN,NaN,NaN
2,3,2022,115.375,44.125,0.825605,2211300.0,NaN,NaN,NaN,NaN
3,1,2021,115.375,44.125,0.066532,178200.0,NaN,NaN,NaN,NaN
4,2,2021,115.375,44.125,0.033482,81000.0,NaN,NaN,NaN,NaN

In [318]:
tempdf=pd.merge(temp2,temp3)
tempdf.head()

,月份,年份,经度(lon),纬度(lat),10cm湿度(kg/m2),40cm湿度(kg/m2),100cm湿度(kg/m2),200cm湿度(kg/m2),土壤蒸发量(W/m2),土壤蒸发量(mm)
0,1,2022,115.375,44.125,12.45,52.14,93.45,164.48,0.41,0.44
1,2,2022,115.375,44.125,12.10,52.14,93.45,164.48,0.28,0.27
2,3,2022,115.375,44.125,14.96,52.13,93.44,164.48,5.58,5.98
3,1,2021,115.375,44.125,15.17,50.40,82.44,165.92,1.05,1.13
4,2,2021,115.375,44.125,13.93,50.40,82.44,165.92,1.58,1.53

In [319]:
tempdf

,月份,年份,经度(lon),纬度(lat),10cm湿度(kg/m2),40cm湿度(kg/m2),100cm湿度(kg/m2),200cm湿度(kg/m2),土壤蒸发量(W/m2),土壤蒸发量(mm)
0,1,2022,115.375,44.125,12.45,52.14,93.45,164.48,0.41,0.44
1,2,2022,115.375,44.125,12.10,52.14,93.45,164.48,0.28,0.27
2,3,2022,115.375,44.125,14.96,52.13,93.44,164.48,5.58,5.98
3,1,2021,115.375,44.125,15.17,50.40,82.44,165.92,1.05,1.13
4,2,2021,115.375,44.125,13.93,50.40,82.44,165.92,1.58,1.53
...,...,...,...,...,...,...,...,...,...,...
118,8,2012,115.375,44.125,15.76,44.94,61.25,168.44,13.32,14.27
119,9,2012,115.375,44.125,17.12,45.67,55.29,168.38,12.88,13.36
120,10,2012,115.375,44.125,15.04,42.49,54.69,168.33,7.59,8.13
121,11,2012,115.375,44.125,14.79,42.71,55.02,168.32,0.88,0.92
122,12,2012,115.375,44.125,14.42,42.71,55.02,168.32,0.32,0.34

In [320]:
tempdf=pd.merge(tempdf,temp4)
tempdf=pd.merge(tempdf,temp5)
tempdf=tempdf[['月份', '年份', '经度(lon)','纬度(lat)', '10cm湿度(kg/m2)', '40cm湿度(kg/m2)',
       '100cm湿度(kg/m2)', '200cm湿度(kg/m2)', '土壤蒸发量(W/m2)',  '土壤蒸发量(mm)',
       '植被指数(NDVI)', '径流量(m3/s)', '径流量(m3)']]

In [321]:
tempdf

,月份,年份,经度(lon),纬度(lat),10cm湿度(kg/m2),40cm湿度(kg/m2),100cm湿度(kg/m2),200cm湿度(kg/m2),土壤蒸发量(W/m2),土壤蒸发量(mm),植被指数(NDVI),径流量(m3/s),径流量(m3)
0,1,2022,115.375,44.125,12.45,52.14,93.45,164.48,0.41,0.44,0.010,0.160786,430650.00
1,2,2022,115.375,44.125,12.10,52.14,93.45,164.48,0.28,0.27,0.010,0.116071,280800.00
2,3,2022,115.375,44.125,14.96,52.13,93.44,164.48,5.58,5.98,0.187,0.825605,2211300.00
3,1,2021,115.375,44.125,15.17,50.40,82.44,165.92,1.05,1.13,-0.002,0.066532,178200.00
4,2,2021,115.375,44.125,13.93,50.40,82.44,165.92,1.58,1.53,0.002,0.033482,81000.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,8,2012,115.375,44.125,15.76,44.94,61.25,168.44,13.32,14.27,0.597,0.621472,1664550.10
119,9,2012,115.375,44.125,17.12,45.67,55.29,168.38,12.88,13.36,0.475,0.444010,1150875.00
120,10,2012,115.375,44.125,15.04,42.49,54.69,168.33,7.59,8.13,0.282,0.361643,968624.94
121,11,2012,115.375,44.125,14.79,42.71,55.02,168.32,0.88,0.92,0.176,0.290104,751950.00
122,12,2012,115.375,44.125,14.42,42.71,55.02,168.32,0.32,0.34,0.018,0.213710,572400.00

In [322]:
pd.get_dummies(data2['放牧小区（plot）'],prefix='plot_')# # 将小区号进行one-hot编码 1代表data2本行是该小区号

,plot__G11,plot__G12,plot__G13,plot__G16,plot__G17,plot__G18,plot__G19,plot__G20,plot__G21,plot__G6,plot__G8,plot__G9
0,0,0,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
14292,0,0,0,0,0,0,0,1,0,0,0,0
14293,0,0,0,0,0,0,0,1,0,0,0,0
14294,0,0,0,0,0,0,0,1,0,0,0,0
14295,0,0,0,0,0,0,0,1,0,0,0,0
14296,0,0,0,0,0,0,0,1,0,0,0,0

In [323]:
data2=pd.concat([data2,pd.get_dummies(data2['放牧小区（plot）'],prefix='plot_')],axis=1)
data2

,年份,放牧小区（plot）,放牧强度（intensity）,SOC土壤有机碳,SIC土壤无机碳,STC土壤全碳,全氮N,土壤C/N比,轮次,处理,...,plot__G13,plot__G16,plot__G17,plot__G18,plot__G19,plot__G20,plot__G21,plot__G6,plot__G8,plot__G9
0,2016,G17,NG,18.682066,2.40000,21.082066,2.332079,9.040030,牧前,无牧（0天）,...,0,0,1,0,0,0,0,0,0,0
1,2016,G17,NG,18.682066,2.40000,21.082066,2.332079,9.040030,牧前,无牧（0天）,...,0,0,1,0,0,0,0,0,0,0
2,2016,G17,NG,18.682066,2.40000,21.082066,2.332079,9.040030,牧前,无牧（0天）,...,0,0,1,0,0,0,0,0,0,0
3,2016,G17,NG,18.682066,2.40000,21.082066,2.332079,9.040030,牧前,无牧（0天）,...,0,0,1,0,0,0,0,0,0,0
4,2016,G17,NG,18.682066,2.40000,21.082066,2.332079,9.040030,牧前,无牧（0天）,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14292,2020,G20,HGI,15.969600,4.65705,20.626650,2.054600,10.039253,第四轮牧后,重牧（12天）,...,0,0,0,0,0,1,0,0,0,0
14293,2020,G20,HGI,15.969600,4.65705,20.626650,2.054600,10.039253,第四轮牧后,重牧（12天）,...,0,0,0,0,0,1,0,0,0,0
14294,2020,G20,HGI,15.969600,4.65705,20.626650,2.054600,10.039253,第四轮牧后,重牧（12天）,...,0,0,0,0,0,1,0,0,0,0
14295,2020,G20,HGI,15.969600,4.65705,20.626650,2.054600,10.039253,第四轮牧后,重牧（12天）,...,0,0,0,0,0,1,0,0,0,0
14296,2020,G20,HGI,15.969600,4.65705,20.626650,2.054600,10.039253,第四轮牧后,重牧（12天）,...,0,0,0,0,0,1,0,0,0,0

In [324]:
data2['放牧强度（intensity）'].unique()

array(['NG', 'LGI', 'MGI', 'HGI'], dtype=object)

In [325]:
#对照（NG， 0羊/天/公顷 ）、轻度放牧强度（LGI， 2羊/天/公顷 ）、中度放牧强度（MGI，4羊/天/公顷 ）和重度放牧强度（HGI，8羊/天/公顷 ）
data2['放牧强度（intensity）']=data2['放牧强度（intensity）'].map(
{
    'NG':0,
    'LGI':1, 
    'MGI':2, 
    'HGI':3
})

In [326]:
data2=pd.concat([data2,pd.get_dummies(data2['轮次'],prefix='轮次_')],axis=1)

data2=pd.concat([data2,pd.get_dummies(data2['处理'],prefix='处理_')],axis=1)

data2=pd.concat([data2,pd.get_dummies(data2['植物群落功能群'],prefix='功能群_')],axis=1)

In [327]:
data2.columns

Index(['年份', '放牧小区（plot）', '放牧强度（intensity）', 'SOC土壤有机碳', 'SIC土壤无机碳',
       'STC土壤全碳', '全氮N', '土壤C/N比', '轮次', '处理', '植物种名', '植物群落功能群', '重复', '营养苗',
       '株/丛数', '鲜重(g)', '干重(g)', 'plot__G11', 'plot__G12', 'plot__G13',
       'plot__G16', 'plot__G17', 'plot__G18', 'plot__G19', 'plot__G20',
       'plot__G21', 'plot__G6', 'plot__G8', 'plot__G9', '轮次__牧前', '轮次__第一轮牧后',
       '轮次__第三轮牧后', '轮次__第二轮牧后', '轮次__第四轮牧后', '处理__中牧（6天）', '处理__无牧（0天）',
       '处理__轻牧（3天）', '处理__重牧（12天）', '功能群__AB', '功能群__PB', '功能群__PF',
       '功能群__PR'],
      dtype='object')

In [328]:
data2_process=data2[['年份', '放牧强度（intensity）', 'SOC土壤有机碳', 'SIC土壤无机碳',
       'STC土壤全碳', '全氮N', '土壤C/N比',  '营养苗',
       '株/丛数', '鲜重(g)', '干重(g)', 'plot__G11', 'plot__G12', 'plot__G13',
       'plot__G16', 'plot__G17', 'plot__G18', 'plot__G19', 'plot__G20',
       'plot__G21', 'plot__G6', 'plot__G8', 'plot__G9', '轮次__牧前', '轮次__第一轮牧后',
       '轮次__第三轮牧后', '轮次__第二轮牧后', '轮次__第四轮牧后', '处理__中牧（6天）', '处理__无牧（0天）',
       '处理__轻牧（3天）', '处理__重牧（12天）', '功能群__AB', '功能群__PB', '功能群__PF',
       '功能群__PR']]

In [329]:
print(tempdf.shape)
print(data2_process.shape)
df=pd.merge(tempdf,data2_process,on=['年份'])

(123, 13)
(14297, 36)

In [330]:
df.head()

,月份,年份,经度(lon),纬度(lat),10cm湿度(kg/m2),40cm湿度(kg/m2),100cm湿度(kg/m2),200cm湿度(kg/m2),土壤蒸发量(W/m2),土壤蒸发量(mm),...,轮次__第二轮牧后,轮次__第四轮牧后,处理__中牧（6天）,处理__无牧（0天）,处理__轻牧（3天）,处理__重牧（12天）,功能群__AB,功能群__PB,功能群__PF,功能群__PR
0,1,2020,115.375,44.125,12.21,33.85,47.07,166.7,0.33,0.36,...,0,0,0,1,0,0,0,1,0,0
1,1,2020,115.375,44.125,12.21,33.85,47.07,166.7,0.33,0.36,...,0,0,0,1,0,0,0,1,0,0
2,1,2020,115.375,44.125,12.21,33.85,47.07,166.7,0.33,0.36,...,0,0,0,1,0,0,0,0,0,1
3,1,2020,115.375,44.125,12.21,33.85,47.07,166.7,0.33,0.36,...,0,0,0,1,0,0,0,0,0,1
4,1,2020,115.375,44.125,12.21,33.85,47.07,166.7,0.33,0.36,...,0,0,0,1,0,0,0,0,1,0

Warning: Total number of columns (48) exceeds max_columns (20) limiting to first (20) columns.

In [331]:
df.shape

(171564, 48)

In [332]:
df.isnull().sum()/df.shape[0]

月份                 0.000000
年份                 0.000000
经度(lon)            0.000000
纬度(lat)            0.000000
10cm湿度(kg/m2)      0.000000
40cm湿度(kg/m2)      0.000000
100cm湿度(kg/m2)     0.000000
200cm湿度(kg/m2)     0.000000
土壤蒸发量(W/m2)        0.000000
土壤蒸发量(mm)          0.000000
植被指数(NDVI)         0.000000
径流量(m3/s)          0.000000
径流量(m3)            0.000000
放牧强度（intensity）    0.000000
SOC土壤有机碳           0.000000
SIC土壤无机碳           0.000000
STC土壤全碳            0.000000
全氮N                0.000000
土壤C/N比             0.000000
营养苗                0.001679
株/丛数               0.024970
鲜重(g)              0.049311
干重(g)              0.000000
plot__G11          0.000000
plot__G12          0.000000
plot__G13          0.000000
plot__G16          0.000000
plot__G17          0.000000
plot__G18          0.000000
plot__G19          0.000000
plot__G20          0.000000
plot__G21          0.000000
plot__G6           0.000000
plot__G8           0.000000
plot__G9           0.000000
轮次__牧前             0.000000
轮次__第一轮牧后          0.000000
轮次__第三轮牧后          0.000000
轮次__第二轮牧后          0.000000
轮次__第四轮牧后          0.000000
处理__中牧（6天）         0.000000
处理__无牧（0天）         0.000000
处理__轻牧（3天）         0.000000
处理__重牧（12天）        0.000000
功能群__AB            0.000000
功能群__PB            0.000000
功能群__PF            0.000000
功能群__PR            0.000000
dtype: float64

In [333]:
for i in ['营养苗','株/丛数', '鲜重(g)']:
    df[i]=df[i].fillna(df[i].mean())

In [335]:
import numpy as np
def filter_extreme_MAD(dataframe,n=3):
    # MAD:绝对中位差去极值
    for i in dataframe.columns:
        median = dataframe[i].quantile(0.5)
        new_median = ((dataframe[i] - median).abs()).quantile(0.50)
        max_range = median + n * new_median
        min_range = median - n * new_median
        dataframe[i]=pd.DataFrame(np.clip(dataframe[i].values, min_range, max_range),columns=None)

    return dataframe
def filter_extreme_3sigma(dataframe,n=3):
    # 3sigma 去极值
    for i in dataframe.columns:
        mean=dataframe[i].mean()
        std=dataframe[i].std()
        max_range=mean+n*std
        min_range=mean-n*std
        dataframe[i] = pd.DataFrame(np.clip(dataframe[i].values, min_range, max_range), columns=None)
    return dataframe

def filter_extreme_percentile(dataframe,min=0.025,max=0.975):
    # 百分位法 去极值
    for i in dataframe.columns:
        Temp=dataframe[i].sort_values()
        q=Temp.quantile([min,max])
        dataframe[i] = pd.DataFrame(np.clip(dataframe[i].values, q.iloc[0], q.iloc[1]), columns=None)
    return dataframe
df=filter_extreme_3sigma(df)#去极值

月份
年份
经度(lon)
纬度(lat)
10cm湿度(kg/m2)
40cm湿度(kg/m2)
100cm湿度(kg/m2)
200cm湿度(kg/m2)
土壤蒸发量(W/m2)
土壤蒸发量(mm)
植被指数(NDVI)
径流量(m3/s)
径流量(m3)
放牧强度（intensity）
SOC土壤有机碳
SIC土壤无机碳
STC土壤全碳
全氮N
土壤C/N比
营养苗
株/丛数
鲜重(g)
干重(g)
plot__G11
plot__G12
plot__G13
plot__G16
plot__G17
plot__G18
plot__G19
plot__G20
plot__G21
plot__G6
plot__G8
plot__G9
轮次__牧前
轮次__第一轮牧后
轮次__第三轮牧后
轮次__第二轮牧后
轮次__第四轮牧后
处理__中牧（6天）
处理__无牧（0天）
处理__轻牧（3天）
处理__重牧（12天）
功能群__AB
功能群__PB
功能群__PF
功能群__PR

In [336]:
df.isnull().sum()#下面说明已没有缺失值

月份                 0
年份                 0
经度(lon)            0
纬度(lat)            0
10cm湿度(kg/m2)      0
40cm湿度(kg/m2)      0
100cm湿度(kg/m2)     0
200cm湿度(kg/m2)     0
土壤蒸发量(W/m2)        0
土壤蒸发量(mm)          0
植被指数(NDVI)         0
径流量(m3/s)          0
径流量(m3)            0
放牧强度（intensity）    0
SOC土壤有机碳           0
SIC土壤无机碳           0
STC土壤全碳            0
全氮N                0
土壤C/N比             0
营养苗                0
株/丛数               0
鲜重(g)              0
干重(g)              0
plot__G11          0
plot__G12          0
plot__G13          0
plot__G16          0
plot__G17          0
plot__G18          0
plot__G19          0
plot__G20          0
plot__G21          0
plot__G6           0
plot__G8           0
plot__G9           0
轮次__牧前             0
轮次__第一轮牧后          0
轮次__第三轮牧后          0
轮次__第二轮牧后          0
轮次__第四轮牧后          0
处理__中牧（6天）         0
处理__无牧（0天）         0
处理__轻牧（3天）         0
处理__重牧（12天）        0
功能群__AB            0
功能群__PB            0
功能群__PF            0
功能群__PR            0
dtype: int64

In [337]:
import sys
!{sys.executable} -m pip install xgboost -i https://pypi.tuna.tsinghua.edu.cn/simple
!{sys.executable} -m pip install lightgbm -i https://pypi.tuna.tsinghua.edu.cn/simple
!{sys.executable} -m pip install matplotlib -i https://pypi.tuna.tsinghua.edu.cn/simple

Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xgboost in /usr/local/lib/python3.7/dist-packages (0.90)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from xgboost) (1.7.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from xgboost) (1.21.6)
Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: lightgbm in /usr/local/lib/python3.7/dist-packages (2.2.3)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from lightgbm) (1.0.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from lightgbm) (1.21.6)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from lightgbm) (1.7.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->lightgbm) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->lightgbm) (1.2.0)
Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (3.2.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (3.0.9)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.21.6)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.4.4)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)

In [ ]:
import xgboost as xgb
import lightgbm as lgb
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report,f1_score
from sklearn.model_selection import train_test_split

In [345]:
df.columns

Index(['月份', '年份', '经度(lon)', '纬度(lat)', '10cm湿度(kg/m2)', '40cm湿度(kg/m2)',
       '100cm湿度(kg/m2)', '200cm湿度(kg/m2)', '土壤蒸发量(W/m2)', '土壤蒸发量(mm)',
       '植被指数(NDVI)', '径流量(m3/s)', '径流量(m3)', '放牧强度（intensity）', 'SOC土壤有机碳',
       'SIC土壤无机碳', 'STC土壤全碳', '全氮N', '土壤C/N比', '营养苗', '株/丛数', '鲜重(g)', '干重(g)',
       'plot__G11', 'plot__G12', 'plot__G13', 'plot__G16', 'plot__G17',
       'plot__G18', 'plot__G19', 'plot__G20', 'plot__G21', 'plot__G6',
       'plot__G8', 'plot__G9', '轮次__牧前', '轮次__第一轮牧后', '轮次__第三轮牧后', '轮次__第二轮牧后',
       '轮次__第四轮牧后', '处理__中牧（6天）', '处理__无牧（0天）', '处理__轻牧（3天）', '处理__重牧（12天）',
       '功能群__AB', '功能群__PB', '功能群__PF', '功能群__PR'],
      dtype='object')

In [346]:
df

,月份,年份,经度(lon),纬度(lat),10cm湿度(kg/m2),40cm湿度(kg/m2),100cm湿度(kg/m2),200cm湿度(kg/m2),土壤蒸发量(W/m2),土壤蒸发量(mm),...,轮次__第二轮牧后,轮次__第四轮牧后,处理__中牧（6天）,处理__无牧（0天）,处理__轻牧（3天）,处理__重牧（12天）,功能群__AB,功能群__PB,功能群__PF,功能群__PR
0,1.0,2020.0,115.375,44.125,12.21,33.85,47.07,166.70,0.33,0.36,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1,1.0,2020.0,115.375,44.125,12.21,33.85,47.07,166.70,0.33,0.36,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
2,1.0,2020.0,115.375,44.125,12.21,33.85,47.07,166.70,0.33,0.36,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1.0,2020.0,115.375,44.125,12.21,33.85,47.07,166.70,0.33,0.36,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1.0,2020.0,115.375,44.125,12.21,33.85,47.07,166.70,0.33,0.36,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171559,12.0,2016.0,115.375,44.125,13.25,46.76,45.86,167.37,1.36,1.46,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
171560,12.0,2016.0,115.375,44.125,13.25,46.76,45.86,167.37,1.36,1.46,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
171561,12.0,2016.0,115.375,44.125,13.25,46.76,45.86,167.37,1.36,1.46,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
171562,12.0,2016.0,115.375,44.125,13.25,46.76,45.86,167.37,1.36,1.46,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
171563,12.0,2016.0,115.375,44.125,13.25,46.76,45.86,167.37,1.36,1.46,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

Warning: Total number of columns (48) exceeds max_columns (20) limiting to first (20) columns.
Warning: total number of rows (171564) exceeds max_rows (20000). Limiting to first (20000) rows.

In [339]:
# 'SOC土壤有机碳', 'SIC土壤无机碳','STC土壤全碳', '全氮N', '土壤C/N比',——化学性质
# '营养苗','株/丛数', '鲜重(g)', '干重(g)',——植物生物量
# '10cm湿度(kg/m2)', '40cm湿度(kg/m2)','100cm湿度(kg/m2)', '200cm湿度(kg/m2)'——土壤湿度
# 'plot__G11', 'plot__G12', 'plot__G13','plot__G16', 'plot__G17', 'plot__G18', 'plot__G19', 'plot__G20','plot__G21', 'plot__G6', 'plot__G8', 'plot__G9',——放牧小区(plot)(策略)
# '轮次__牧前', '轮次__第一轮牧后', '轮次__第三轮牧后', '轮次__第二轮牧后', '轮次__第四轮牧后',——第几轮(策略)
#  '处理__中牧（6天）', '处理__无牧（0天）','处理__轻牧（3天）', '处理__重牧（12天）'——放牧强度 (应该和那个合并)

X=df[['SOC土壤有机碳', 'SIC土壤无机碳','STC土壤全碳', '全氮N', '土壤C/N比',  
   '营养苗','株/丛数', '鲜重(g)', '干重(g)',
   'plot__G11', 'plot__G12', 'plot__G13','plot__G16', 'plot__G17', 'plot__G18', 'plot__G19', 'plot__G20','plot__G21', 'plot__G6', 'plot__G8', 'plot__G9', '轮次__牧前', '轮次__第一轮牧后',
   '轮次__第三轮牧后', '轮次__第二轮牧后', '轮次__第四轮牧后', 
   '处理__中牧（6天）', '处理__无牧（0天）','处理__轻牧（3天）', '处理__重牧（12天）', 
   '功能群__AB', '功能群__PB', '功能群__PF','功能群__PR',
   '10cm湿度(kg/m2)', '40cm湿度(kg/m2)','100cm湿度(kg/m2)', '200cm湿度(kg/m2)']]

y=df['放牧强度（intensity）']#对照0 轻1 中2 重3
# 拆分训练集和测试集
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=12)
    
#逻辑 回归
model = LogisticRegression()

model.fit(x_train, y_train)
print('逻辑 回归')
print(classification_report(model.predict(x_test),y_test))


# Randomforest分类

model = RandomForestClassifier()

model.fit(x_train, y_train)
print('Randomforest分类')
print(classification_report(model.predict(x_test),y_test))

# lgbm分类
model = lgb.LGBMClassifier()
model.fit(x_train, y_train)
print('lgbm分类')
print(classification_report(model.predict(x_test),y_test))


# XGboost分类
model = xgb.XGBClassifier()
model.fit(x_train, y_train)
print('XGboost分类')
print(classification_report(model.predict(x_test),y_test))

逻辑 回归
              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00     11085
         1.0       1.00      1.00      1.00     14430
         2.0       1.00      1.00      1.00     12893
         3.0       1.00      1.00      1.00     13062

    accuracy                           1.00     51470
   macro avg       1.00      1.00      1.00     51470
weighted avg       1.00      1.00      1.00     51470

Randomforest分类
              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00     11085
         1.0       1.00      1.00      1.00     14430
         2.0       1.00      1.00      1.00     12893
         3.0       1.00      1.00      1.00     13062

    accuracy                           1.00     51470
   macro avg       1.00      1.00      1.00     51470
weighted avg       1.00      1.00      1.00     51470

lgbm分类
              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00     11085
         1.0       1.00      1.00      1.00     14430
         2.0       1.00      1.00      1.00     12893
         3.0       1.00      1.00      1.00     13062

    accuracy                           1.00     51470
   macro avg       1.00      1.00      1.00     51470
weighted avg       1.00      1.00      1.00     51470

XGboost分类
              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00     11085
         1.0       1.00      1.00      1.00     14430
         2.0       1.00      1.00      1.00     12893
         3.0       1.00      1.00      1.00     13062

    accuracy                           1.00     51470
   macro avg       1.00      1.00      1.00     51470
weighted avg       1.00      1.00      1.00     51470

In [340]:
df.to_csv('Q1.data.csv',index=None)

In [341]:
#逻辑 回归
model = LogisticRegression()

model.fit(X, y)
print('逻辑 回归')
print(classification_report(model.predict(X),y))

逻辑 回归
              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00     37140
         1.0       1.00      1.00      1.00     47604
         2.0       1.00      1.00      1.00     43200
         3.0       1.00      1.00      1.00     43620

    accuracy                           1.00    171564
   macro avg       1.00      1.00      1.00    171564
weighted avg       1.00      1.00      1.00    171564

In [342]:
model.coef_

array([[ 3.56094747e-02,  3.43487927e-02,  7.58690551e-02,
        -3.63008262e-01, -7.90338167e-02,  2.00671494e-02,
         3.57308813e-03, -6.55397719e-03,  4.02810866e-03,
        -6.54076001e-01, -7.63400441e-01, -4.62181500e-01,
        -6.41256942e-01,  1.44580201e+00, -6.53311031e-01,
         1.70690326e+00, -4.00427912e-01,  1.61335740e+00,
        -8.13363038e-01, -7.14704391e-01, -4.49954676e-01,
         4.17807666e-01, -9.78862598e-03, -3.11559926e-01,
        -2.74806685e-01, -1.52660447e-01, -2.19757468e+00,
         5.61388327e+00, -2.32169408e+00, -1.42562252e+00,
        -1.62930831e-01,  3.74983598e-02,  2.62834022e-01,
        -4.68409569e-01],
       [-1.67563667e-01,  4.88599814e-01,  3.27127578e-01,
        -7.64582824e-02, -7.68550276e-01,  6.01285404e-02,
         6.00041700e-03, -2.33456209e-02,  1.81116305e-02,
        -8.23990541e-01,  2.28385871e+00, -7.47690079e-01,
        -7.51891305e-01, -5.78302313e-01,  2.32475490e+00,
        -6.60933794e-01, -6.56961677e-01, -6.55961084e-01,
         2.25575682e+00, -8.27582124e-01, -7.69311573e-01,
        -4.98209294e-02, -7.93377986e-02, -6.83815253e-02,
         6.23565962e-02,  5.55843227e-02, -2.62626130e+00,
        -2.23248781e+00,  7.13969825e+00, -2.36054846e+00,
         8.09636767e-02, -3.79640601e-02,  4.79749840e-02,
        -1.70573935e-01],
       [ 1.74760045e-01, -4.84154303e-01, -3.26585864e-01,
         1.78209112e-01,  6.20887578e-01, -3.06549397e-02,
        -2.86629917e-03, -1.23820906e-02,  3.61031637e-02,
         2.22124814e+00, -8.41355784e-01, -7.50622040e-01,
         2.06201132e+00, -5.59013854e-01, -8.03933166e-01,
        -6.40868131e-01, -6.42849505e-01, -5.40057141e-01,
        -7.91920486e-01,  2.24182031e+00, -7.40999861e-01,
        -9.08747328e-03,  1.02646641e-01,  9.59290228e-02,
        -5.94946188e-02,  9.69141686e-02,  7.13192406e+00,
        -2.05132367e+00, -2.53591756e+00, -2.31777509e+00,
        -2.39810292e-02, -6.63180788e-02, -9.02126777e-03,
         3.26228116e-01],
       [-4.28058529e-02, -3.87943042e-02, -7.64107687e-02,
         2.61257432e-01,  2.26696515e-01, -4.95407501e-02,
        -6.70720596e-03,  4.22816888e-02, -5.82429029e-02,
        -7.43181597e-01, -6.79102489e-01,  1.96049362e+00,
        -6.68863077e-01, -3.08485845e-01, -8.67510706e-01,
        -4.05101331e-01,  1.70023909e+00, -4.17339171e-01,
        -6.50473293e-01, -6.99533800e-01,  1.96026611e+00,
        -3.58899263e-01, -1.35202160e-02,  2.84012428e-01,
         2.71944707e-01,  1.61955478e-04, -2.30808807e+00,
        -1.33007179e+00, -2.28208661e+00,  6.10394608e+00,
         1.05948183e-01,  6.67837791e-02, -3.01787738e-01,
         3.12755388e-01]])

In [343]:
model.intercept_

array([-0.33659357, -0.08098585,  0.23102722,  0.1865522 ])